<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Max plus</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">MaxPlus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/network">Network</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/delays">Delays</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/schedule">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/summary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/results">Results</a>
            </li>
        </ul>
    </nav>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <h1>Delays</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <p>View or edit the delay details of the train network</p>
        </div>
        <div class="row">
            <div class="col-sm">
                <div>
                    <h3>Network matrix</h3>
                    <p id="currentMatrix" class="display-4"></p>
                </div>

            </div>
            <div class="row">
                <div id="graphDiv">
                    <img src='{{ url }}' />
                </div>
                <input id="matrixData" value='{{ matrixData }}' type="hidden">
            </div>
            <div class="col-sm">
                <textarea id="matrixInput" rows="10" cols="30" placeholder="Please enter your delay matrix here in the form:&#13;&#10;[0,5,3]&#13;&#10;[1,0,2]&#13;&#10;[1,1,0]"></textarea>
                <div class="col-sm">
                    <button id="saveButton">Save</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='Jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='delays.js') }}"></script>
</body>

</html>