<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Max plus</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">MaxPlus</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/network">Network</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/delays">Delays</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/schedule">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/summary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/results">Results</a>
            </li>
        </ul>
    </nav>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <h1>Network</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <p>This page allows you to create or alter the matrix which represents the network to be tested.</p>
            <p>It also allows you to name the stations (making the labels more meaningful on the resulting graph).</p>
            <p>When entering the matrix please ensure that:
                <ul>
                    <li>The matrix is square (IE equal number of rows and columns)</li>
                    <li>The matrix is entered in the given format </li>
                    <li>The values are either integer values or EPS</li>
                    <li>If there is no connection between the stations please represent this with EPS (epsilon)</li>
                </ul>
            </p>
            <br />
            <p></p>
            <p>Once you have entered the matrix please click enter matrix to update the station numbers and names</p>
            <p>When you have finished the naming the stations then click save to persist the data to the server</p>

        </div>
    </div>
    <div class="container h-100">
        <div class="row">
            <div class="col-sm">
                <textarea id="matrixInput" rows="10" cols="30"
                    spellcheck="false"
                    placeholder="Please enter your matrix here in the form (with no spaces):&#13;&#10;[0,5,3]&#13;&#10;[1,0,2]&#13;&#10;[1,1,0]"></textarea>
                <div class="col-sm">
                    <button class="btn btn-dark" id="inputMatrix">Input matrix</button>
                    <button class="btn btn-dark" id="saveButton">Save</button>
                </div>
            </div>
            <div class="col-sm">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Station name</td>
                        </tr>
                    </thead>
                    <tbody id="nameTable">
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                <div id="graphDiv">
                    <img src='{{ url }}' />
                </div>
                <input id="matrixData" value='{{ matrixData }}' type="hidden">
                <input id="stationData" value='{{ stationData }}' type="hidden">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='Jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='network.js') }}"></script>
</body>

</html>